:root {
    --bg-color: #1a1b26;
    --sidebar-bg: #24283b;
    --text-main: #c0caf5;
    --accent: #7aa2f7;
    --border-color: #414868;
}

body, html { 
    margin: 0; 
    padding: 0; 
    font-family: 'Segoe UI', sans-serif; 
    background-color: #0f1014; 
    color: var(--text-main); 
}

.cv-container { 
    display: flex; 
    flex-direction: column; 
    max-width: 1000px; 
    margin: 20px auto; 
    background-color: var(--bg-color); 
    box-shadow: 0 0 50px rgba(0,0,0,0.8); 
}

.cv-header { 
    display: flex; 
    align-items: center; 
    padding: 30px 50px; 
    background-color: var(--sidebar-bg); 
    border-bottom: 3px solid var(--accent);
}

.foto-container { 
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    border: 3px solid var(--accent); 
    flex-shrink: 0; 
}
.foto-container img { 
    width: 100%; 
    height: 100%; 
    object-fit:cover; 
}
.header-text { 
    margin-left: 125px; 
}
.header-text h1 { 
    margin: 0; 
    font-size: 2.2rem; 
    color: var(--accent); 
}

.cv-body { 
    display: flex; 
}
.sidebar { 
    width: 280px; 
    background-color: var(--sidebar-bg); 
    padding: 30px; 
    border-right: 1px solid var(--border-color); 
}
.main-content { 
    flex: 1; 
    padding: 40px; 
}

/* ESTILOS CERTIFICADOS EN SIDEBAR */
.cert-sidebar { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}
.cert-link {
    color: var(--text-main);
    text-decoration: none;
    font-size: 0.85rem;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: #16161e;
    transition: 0.3s;
}
.cert-link:hover { 
    border-color: var(--accent); 
    color: var(--accent); 
}
.cert-link i { 
    margin-right: 8px; 
}

/* OTROS ELEMENTOS */
h2, h3 { 
    color: var(--accent); 
    text-transform: uppercase; 
    margin-bottom: 15px; 
}
h2 { 
    border-bottom: 1px solid var(--border-color); 
    padding-bottom: 10px; 
    margin-top: 30px; 
}

.lista-limpia { 
    list-style: none; 
    padding: 0; 
}
.lista-limpia li { 
    margin-bottom: 8px; 
    font-size: 0.9rem; 
}
.experiencia { 
    margin-bottom: 15px; 
    line-height: 1.6; 
}

.idioma-item { 
    margin-bottom: 15px; 
}
.idioma-header { 
    display: flex; 
    justify-content: space-between; 
    font-size: 0.8rem; 
    margin-bottom: 4px; 
}
.barra-contenedor { 
    width: 100%; 
    height: 6px; 
    background: var(--border-color); 
    border-radius: 3px; 
}
.barra-progreso { 
    height: 100%; 
    background: var(--accent); 
    border-radius: 3px; 
}


.social-footer { 
    background: var(--sidebar-bg); 
    padding: 20px; 
    border-top: 2px solid var(--accent); 
    text-align: center; 
}
.social-grid { 
    display: flex; 
    justify-content: center; 
    gap: 30px; 
    font-size: 0.9rem; 
}
.social-grid a { 
    color: var(--text-main); 
    text-decoration: none; 
}
hr { 
    border: 0; 
    border-top: 1px solid var(--border-color); 
    margin: 20px 0; 
}
.p-personal p { 
    text-align: justify;
    line-height: 1.6; 
    font-size: 0.95rem; 
}