body{
    background-color: rgb(182, 243, 235);
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#banner_superior{
    border: 3px solid black;
    display: inline-flex;
    padding: 10px;
    width: 100% ;
}

#contenedor_principal{
    width: 100%;
}

#pie_pagina{
    width: 100%;
}

#parrafo_prueba{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

.banner_superior{
    border: 2px solid black;
    /* border-radius: 25px; */
    display: inline-flex;
}

#pagina_completa{
    display: inline-block;
}

#imagen_superior{
    width: 200px;
    height: 200px;
    border-radius:50%; 
    border:2px solid black
}

#superior_derecho{
    padding-left: 25px;
}

#principal_izquierda{
    width: 25%;
}
#pie_pagina{
    display: inline-flex;
}

.div_pie_pagina{
    margin: auto;
}

.button_pie{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 45px;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}